<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid my-3">
    <a class="navbar-brand" href="#home">
    <i class="fa-solid fa-house-laptop fa-2xl" style="color: #6bf178;"></i>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <div class="navbar-responsive">
          <li class="nav-item active">
            <%= link_to "Home", root_path(anchor: "home"), class: "nav-resp" %>
          </li>
          <li class="nav-item active">
            <%= link_to "About me", root_path(anchor: "about"), class: "nav-resp" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Portfolio", root_path(anchor: "portfolio"), class: "nav-resp" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Skills", root_path(anchor: "skills"), class: "nav-resp" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Contact", root_path(anchor: "contact"), class: "nav-resp" %>
          </li>
        </div>
      </ul>
    </div>
  </div>
</div>
