<h1>Skills</h1>

<%= image_tag("html5-logo.png", width:"50px") %>
<p>HTLM5</p>
<%= image_tag("css3-logo.png", width:"50px") %>
<p>CSS3</p>
<%= image_tag("javascript-logo.png", width:"50px") %>
<p>Javascript</p>
<%= image_tag("react-logo.webp", width:"50px") %>
<p>React</p>
<%= image_tag("python-logo.png", width:"50px") %>
<p>Python</p>
<%= image_tag("bootstrap-logo.png", width:"50px") %>
<p>Bootstrap</p>
<%= image_tag("figma-logo.png", width:"50px") %>
<p>Figma</p>
<%= image_tag("heroku-logo.webp", width:"50px") %>
<p>Heroku</p>
<%= image_tag("postgresql-logo.png", width:"50px") %>
<p>Postgresql</p>
<%= image_tag("ruby-on-rails-logo.png", width:"50px") %>
<p>Rails</p>
<%= image_tag("sass-logo.png", width:"50px") %>
<p>Sass</p>
<%= image_tag("docker-logo.png", width:"50px") %>
<p>Docker</p>
<%= image_tag("github-logo.png", width:"50px") %>
<p>Github</p>
